---
import ButtonFeatures from "./ButtonFeatures.astro";
---

<header class="w-full flex z-10 fixed">
    <nav class="flex w-full">
        <a href="/" class="hidden md:block md:bg-gradient-to-tr md:from-zinc-800 md:via-rose-800 md:to-purple-800 text-cyan-300 rounded-md px-3 m-2 my-2">
            <div class="flex place-content-center items-center">
                <svg 
                width="25" 
                height="25" viewBox="0 0 24 24" 
                stroke-width="2" stroke="currentColor" 
                fill="currentColor" 
                stroke-linecap="round" 
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
                <h1 class="text-4xl font-bold place-content-center">FA</h1>
            </div>
        </a>
    
        <div class="w-full flex flex-row justify-center md:justify-end">
            <ButtonFeatures
            Pagenumber={1}
            Name="Home"
            href='/'>
            </ButtonFeatures>
    
            <ButtonFeatures
            Pagenumber={2}
            Name="About Me"
            href='/#about'>
            </ButtonFeatures>
    
            <ButtonFeatures
            Pagenumber={3}
            Name="Projects"
            href='/#projects'>
            </ButtonFeatures>
            
        </div>

    </nav>
</header>

<style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
      
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur bg-gray-800/60 ring-white/10;
      }
    }
  </style>