---
import Maileritem from "./Maileritem.astro"

---
<div class="mx-auto my-4 rounded-lg bg-gray-900 max-w-xl flex flex-col h-auto">
    <article class=" m-4 flex text-xl font-bold">
        <h2> E-mail to: facundocachy@gmail.com</h2>
    </article>

    <form action="https://formsubmit.co/217d9e80363d2fdbc3e4aaadbcb55754" method="POST" class="p-4 pt-0 w-full mx-auto flex flex-col space-y-4 select-none">
        <Maileritem id="email"
        inputname="email"
        name="From:" 
        subname=" (E-mail)"
        placeholder="Ex: yourfavoriterecruiter@gmail.com"
        required/>

        <Maileritem id="subject-input"
        inputname="subject"
        name="Subject" 
        subname="(Role is Must)"
        placeholder="Ex: Web Developer, From Vercel"
        required/>
        
        <Maileritem id="description-input"
        inputname="description"
        name="Description" 
        subname=""
        placeholder="Ex: Introduce yourself or Job Title"
        required/>

        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="faromano.vercel.app/">
        
        <div class="mx-auto text-xl font-bold flex py-8">
            <button id="button" class="border-2 border-cyan-300 p-2 px-16 bg-transparent focus:text-black focus:bg-cyan-300 transform duration-100 rounded-md">SEND</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event: Event) => {
    const emailInput = document.getElementById('email') as HTMLInputElement;
    const button = document.getElementById('button') as HTMLButtonElement;

    emailInput.addEventListener('input', function () 
    {
        const re = /@.*\.com/;
        if (re.test(emailInput.value)) 
        {
            button.style.display = 'block';
        } 
        else
        {
            button.style.display = 'none';
        }
    });
});

</script>