---
import Badge from "./Badge.astro";


---

<div class="flex flex-col m-auto w-full h-screen align-middle place-content-center">
    <div class="flex flex-col md:flex-row items-center text-center md:items-start md:text-start md:m-auto md:ml-[15%] md:my-[5%] md:w-4/5 space-y-4 gap-x-8 md:mb-0">
        <section class=" flex flex-col w-1/2">
            <span class="text-teal-400 text-2xl font-bold">
                Hi! My name is...
            </span>
            <span class="font-bold text-4xl">
                Facundo Romano
            </span>
            <p class="text-zinc-300 text-md md:text-xl w-full py-2 [&>strong]:text-amber-200 [&>strong]:font-semibold">
                +2 Años de Experiencia <strong>Técnico Informático</strong> de Argentina Santa Cruz <strong>Desarrollador Web Experimentado</strong> y Experiencia amplia en arquitecturas MVC. 
            </p>
            <a href="/projects" class="w-[95%] border-cyan-300 border-2 p-2 my-8 md:w-full text-xl font-bold text-center hover:bg-cyan-300 hover:text-gray-900 focus:bg-cyan-300 focus:text-gray-900 transform duration-200"> MY PROJECTS </a>
        </section>
        <section class="w-1/6 md:w-1/2 flex justify-center absolute right-10">
            <Badge>
                <a href="https://www.linkedin.com/in/facundo-romano-83a08324b/">
                    <img src="/img/Me.webp" alt="" class="rounded-full">
                </a>
            </Badge>
        </section>
    </div>

    <div class="flex flex-col w-[90%] md:w-3/5 justify-center items-center mx-auto ml-[5%] gap-4 opacity-40">
        <img src="/img/PL&Tech.svg" class="w-3/5">
        <img src="/img/technologies&frameworks.svg" class="w-1/2 items-start">
    </div>

    
</div>